<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.smart.lct.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/product/league-construction-travel/src/main/java" />
        <option name="javaModelPackage" value="com.smart.lct.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/product/league-construction-travel/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="league-construction-travel" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="league-construction-travel">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.smart.lct.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/product/league-construction-travel/src/main/java" />
                  <option name="javaModelPacakge" value="com.smart.lct.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/product/league-construction-travel/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/product/league-construction-travel/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="removeTablePreName" value="t_" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="travel:t_product">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="product_id" />
                  <option name="javaModelName" value="Product" />
                  <option name="moduleName" value="league-construction-travel" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="travel:t_product_image">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="product_image_id" />
                  <option name="javaModelName" value="ProductImage" />
                  <option name="moduleName" value="league-construction-travel" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="travel:t_product_item">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="product_item_id" />
                  <option name="javaModelName" value="ProductItem" />
                  <option name="moduleName" value="league-construction-travel" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="travel:t_product_price">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="product_price_id" />
                  <option name="javaModelName" value="ProductPrice" />
                  <option name="moduleName" value="league-construction-travel" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="travel:t_product_type">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="product_type_id" />
                  <option name="javaModelName" value="ProductType" />
                  <option name="moduleName" value="league-construction-travel" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="travel:t_sorting_tag">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="sorting_tag_id" />
                  <option name="javaModelName" value="SortingTag" />
                  <option name="moduleName" value="league-construction-travel" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/product/league-construction-travel/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>